.about{
    &-desc{
        @include set-background($bg__about-desc-img,0,"top left","cover","scroll");
    }
    &-ext{
        @include set-background($bg__about-ext-img,0,"top left","cover","scroll");
    }
}
.bg{
    &-blog{
        @include set-background($bg__blog-img,0,"center right","cover","scroll");        
    }
    &-classes{
        @include set-background($bg__classes-img,0,"center right","cover","scroll");        
    }
    &-footer{
        @include set-background($bg__footer-img,0,"center right","cover","scroll");
    }
    &-home{        
        @include set-background($bg__home-img,0,"center right","cover","scroll");        
    }
}
.border{
    &-dark-warning{
        border-color: $color__dark-warning !important;
    }
}
.contact{
    &-bg{
        @include set-background($bg__contact-img,0,"top left","cover","fixed");
    }
    &-form{
        .form-control{
            &:focus{
                box-shadow: $input__focus-shadow !important;
            }
        }
    }
}
.login{
    &-form{
        @include set-background($bg__login-img,0,"top left","cover","fixed");
        .form-control{
            &:focus{
                box-shadow: $input__focus-shadow !important;
            }
        }
    }
}
.register{
    &-form{
        @extend .login-form;
    }
}
.opacity{
    &-8{
        opacity: 0.8;
    }
}

textarea{
    resize: none;
}